html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'consolas', '微软雅黑';
  user-select: none;
  max-width: 750px;
}
body > * {
  max-width: 750px;
}
.title {
  padding: 1rem 5%;
  background: steelblue;
  color: white;
  margin: 0rem;
  box-shadow: 0 0.2rem 0.3rem #303030;
}
.title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  display: block;
  width: 100%;
  padding-left: 5%;
  padding-top: 20px;
  box-sizing: border-box;
}
.container .row > span {
  display: inline-block;
  width: 10%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  border-right-width: 0;
  border-bottom-width: 0;
  cursor: pointer;
}
.container .row > span.col_g_right {
  border-right-width: 2px;
}
.container .row > span:first-child {
  border-left-width: 2px;
}
.container .row > span:last-child {
  border-right-width: 2px;
}
.container .row > span.fixed {
  background: #eee;
}
.container .row > span.mark1 {
  background: lightblue;
}
.container .row > span.mark1.empty {
  color: lightblue;
}
.container .row > span.mark2 {
  background: lightgoldenrodyellow;
}
.container .row > span.mark2.empty {
  color: lightgoldenrodyellow;
}
.container .row > span.empty {
  color: #fff;
}
.container .row > span.error {
  background: lightpink;
}
.container .row > span.error.empty {
  color: lightpink;
}
.container .row:first-child > span {
  border-top-width: 2px;
}
.container .row:last-child > span {
  border-bottom-width: 2px;
}
.container .row.row_g_bottom > span {
  border-bottom-width: 2px;
}
.popup-num {
  position: absolute;
  padding-left: 0;
  display: block;
  width: 100%;
  padding-left: 5%;
  padding-top: 20px;
  box-sizing: border-box;
}
.popup-num .row > span {
  display: inline-block;
  width: 10%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  border-right-width: 0;
  border-bottom-width: 0;
  cursor: pointer;
}
.popup-num .row > span.col_g_right {
  border-right-width: 2px;
}
.popup-num .row > span:first-child {
  border-left-width: 2px;
}
.popup-num .row > span:last-child {
  border-right-width: 2px;
}
.popup-num .row > span.fixed {
  background: #eee;
}
.popup-num .row > span.mark1 {
  background: lightblue;
}
.popup-num .row > span.mark1.empty {
  color: lightblue;
}
.popup-num .row > span.mark2 {
  background: lightgoldenrodyellow;
}
.popup-num .row > span.mark2.empty {
  color: lightgoldenrodyellow;
}
.popup-num .row > span.empty {
  color: #fff;
}
.popup-num .row > span.error {
  background: lightpink;
}
.popup-num .row > span.error.empty {
  color: lightpink;
}
.popup-num .row:first-child > span {
  border-top-width: 2px;
}
.popup-num .row:last-child > span {
  border-bottom-width: 2px;
}
.popup-num .row.row_g_bottom > span {
  border-bottom-width: 2px;
}
.popup-num .row span {
  width: popupCellSize;
  height: popupCellSize;
}
.dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: steelblue;
  box-sizing: border-box;
  height: 3rem;
  box-shadow: 0 -0.1rem 0.2rem #303030;
}
.dashboard .buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.dashboard .buttons button {
  float: left;
  width: 25%;
  height: 3rem;
  font-size: 1.3rem;
  color: white;
  background: steelblue;
  border: 1px solid black;
  border-right-width: 0;
}
.dashboard .buttons button:last-child {
  border-right-width: 1px;
}
